.profileCard {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.EventCard {
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 1.2rem
}

p {
    font-size: 0.82rem
}

.EventCard:hover {
    background-color: #fffcca;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.EventCard:hover .btn-DPmain {
    background-color: #3335b5;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sm-avatar {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-style: solid;
    border-radius: 50%;
    border-width: 0.2rem;
    border-color: #6366F1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}