#hero {
    text-align: left;
}


#hero img {
    height: 200px;
    width: auto;
}

#map img {
    height: 200px;
    width: auto;
}

#field img {
    height: 50px;
}

#openMap {
    font-size: 1rem;
    color: blue;
    text-decoration: underline;
}