.ClubCard {
    text-decoration: none;
    color: black;
    /* min-height: 200px;
    max-height: 200px; */
}

.ClubCard:hover {
    background-color: #fffcca;
}

h4 {
    text-align: left;
}

p {
    text-align: left;
}

.ubi {
    color: rgb(48, 48, 255);
    text-decoration: underline;
}