.avatar {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-style: solid;
    border-radius: 50%;
    border-width: 0.4rem;
    border-color: #6366F1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}