body {
  position: relative;
  margin: 0;
  padding-bottom: 7rem;
  min-height: 100vh;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.socialIcon {
  width: 48px;
  height: 48px;
}

.formTitle {
  text-align: left;
}

.App {
  text-align: center;
  margin: 0;
}

.titleOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.addressOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.imgMask {
  position: relative;
  padding-top: 100%;
  max-width: 100%;
}

.imgOverflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

/* BUTTONS */

.btn-DPmain {
  background-color: #6366F1;
  color: white;
  min-width: 160px;
}

.btn-DPmain:hover {
  background-color: #3335b5;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-DPoutline {
  background-color: transparent;
  border-width: 1.5px;
  border-color: #6366F1;
  color: #6366F1;
  min-width: 160px;
}

.btn-DPoutline:hover {
  background-color: transparent;
  border-width: 2px;
  border-color: #3335b5;
  color: #3335b5;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-DPwarn {
  background-color: #f7ca14;
  color: white;
  min-width: 160px;
}

.btn-DPwarn:hover {
  background-color: #ddb101;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-DPdanger {
  background-color: #da2638;
  color: white;
  min-width: 160px;
}

.btn-DPdanger:hover {
  background-color: #a81f2d;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* TYPE SYSTEM */

h1 {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  font-family: 'Climate Crisis', cursive;
  line-height: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-family: 'Climate Crisis', cursive;
  line-height: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: 'Climate Crisis', cursive;
  line-height: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: 'Climate Crisis', cursive;
  line-height: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
}

p {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  padding: 0;
  margin: 0;
}

#openMap {
  color: blue;
  text-decoration: underline;
  text-align: left;
}