.Carousel {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100vh;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* .carousel-text h2 {
    color: #fcfcfc;
} */

.carousel-text h5 {
    text-align: center;
}

.carousel-item {
    max-height: 100vh;
}