.Carousel {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100vh;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #f8f9fa;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05), -1px -1px 0 rgba(0, 0, 0, 0.05), 1px -1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05);
}

.carousel-text h5 {
    letter-spacing: 200%;
    text-align: center;
}

.carousel-item {
    max-height: 100vh;
}